*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
body {
    background-color: #555;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header{
    padding: 30px;
    height: 100px;
    width: 100%;
    background-color: #333;
    border-bottom: 1px solid whitesmoke;
}
.header h1{
    color: #fff;
    text-align: center;
}
.container{
    width: 80%;
}
.functions{
    margin: 30px auto;
    padding: 10px 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 10px;
    background-color: #333;
}
.functions .func-block{
    width: 49%;
    height: 170px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: antiquewhite;
}
.functions p{
    margin: 10px 0 30px;
    font-size: larger;
}
.functions p span{
    color: green;
    font-weight: 700;
}
.functions .load-btn{
    padding: 10px;
    margin: 0 auto;
    width: 300px;
    background-color: #333;
    font-size: larger;
    font-weight: 600;
    color: whitesmoke;
    cursor: pointer;
}

#target{
    margin: 50px auto;
    width: 100%;
    height: 300px;
    padding: 10px;
    background-color: antiquewhite;
    overflow-y: scroll;
}
#target h3{
    padding: 10px 0 5px;
    color: green;
}