body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.container {
    margin: 0 auto;
    min-height: 100vh;
    width: 70%;
    background-color: #eaeaea;
    padding: 25px;
}

h1 {
    text-align: center;
    font-size: 72px;
}

.box {
    max-width: 700px;
    margin: 50px auto;
    padding: 15px;
    border: 3px solid purple;
    position: relative
}

.box-close {
    width: 25px;
    height: 25px;
    padding: 0;
    text-align: center;
    line-height: 25px;
    position: absolute;
    top: 0;
    right: 0;
    color: white;
    background-color: #333;
}
.box-close:hover {
    color: purple;
    cursor: pointer;
}

.faq {
    padding: 15px;
    margin: 25px auto;
    background-color: antiquewhite;
    border: 1px dotted purple;
    color: #333;
}

.fag_q {
    color: rgb(31, 0, 31);
    text-align: center;
}

.fag_q-pointer {
    color: rgb(111, 0, 111);
    cursor: pointer;
}

.icon {
    float: left
}

.outer_link{
    border: 5px solid #333;
    padding: 25px;
    margin-bottom: 15px;
    text-align: center;
}
.fag_a {
    display: none;
}